{% extends "base.html" %}

{% block title %}呈現課程{% endblock %}
{% block css%}
<link href="/static/css/comment.css" rel="stylesheet">
{% endblock%}
{% block content %}
<div class="col-sm-4 col-md-3 sidebar">
  <h3 class="sub-header">{{feature.name}}</h2> 
  <h4 class="sub-header">描述：{{feature.summary}}</h3>
  <h4 class="sub-header">KPIs：{{feature_KPIs}}</h3>
</div>
<div class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-3 main">

<!-- First Show the feature, feature bet, feature performance data in the properway-->

<!-- User Can Click on the feature bet option to take a bet-->
</div>
{% endblock %}
{% block javascript%}
<script>
</script>
{% endblock%}